@media (max-width: 768px) {
  .container {
    width: 90%;
    height: 65%; 
  }

  .circle {
    top: 2em; 
    width: 6em;
    height: 6em;
  }

  h2 {
    top: 5em;
    margin-top: 1em; 
  }

  p {
    top: 7em;
  }
  
  button {
    width: 20%;
    top: 11em;
    margin-bottom: 20px;
  }

  input {
    top: 9em;
    width: 70%;
  }


  .logos {
    top: 9em; 
  }
}
  